<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>HomePage</title>
</head>

<body>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- NAV BAR -->

    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CRUD OPERATIONS-Update</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="card">


                    <div class="card-title">
                        <h4 class="text-center text-success mt-3">UPDATE STUDENT REGISTRATION FORM</h4>
                    </div>


                    <div class="card-text p-3">
                        <form action="/update/{{register_entry.id}}" method="post">{% csrf_token %}


                            <label for="name ">Student Name</label>
                            <input class="form-control" type="text" name="name" id="name" value="{{register_entry.name}}" placeholder="Enter Student Name" Required><br>

                            <label for="email">Student Email</label>
                            <input class="form-control" type="email" name="email" id="email" value="{{register_entry.email}}" placeholder="Enter Student Email" Required><br>

                            <label for="age ">Student Age</label>
                            <input class="form-control" type="number" name="age" id="age" value="{{register_entry.age}}" placeholder="Enter Student Age" Required><br>

                            <label for="role">Student Role</label>
                            <select id="role" class="form-control" name="role" id="role">
                                <option selected value="{{register_entry.role}}">{{register_entry.role}}</option>
                                <option value="Front end Developer">Front end Developer</option>
                                <option value="Back end Developer">Back end Developer</option>
                                <option value="Full stack Developer">Full stack Developer</option>
                            </select>
                            <br><br>

                            <button type="submit" class="btn btn-success btn-lg btn-block">Update</button>
                            <a href="/" class="btn btn-warning btn-lg btn-block text-light">Back to Home</a>   

                        </form>
                    </div>

                    
                </div>
            </div>







            



</body>

</html>